<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CJSearchDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD0A224D1F0B2850007758C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD0A22661F0B2851007758C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD0A22711F0B2851007758C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
